extends layout

block content
	form(
		id='element-form'
	)
		center
			input(
				type='text'
				name='value'
				value= value
				id='text-input'
			)
			br
			input(
				type='button'
				value='Ok'
				id='ok-button'
			)
			input(
				type='button'
				value='Cansel'
				id='cansel-button'
			)
