extends layout

block content
	if (user)
		form(
			id='form'
		)
			center
				input(
					type='text'
					name='value'
					placeholder='Input your text'
					id='text-input'
				)
				br
				input(
					type='button'
					value='Add'
					id='add-button'
				)
		form(
			id='sort-form'
		)
			p(id='text-line') Sort by:
			input(
				type='radio'
				class='asc'
				name='sort-radiobutton'
				value='id'
				id='number-sort'
				checked
			)
			label(for='number-sort') Number
			input(
				type='radio'
				class='desc'
				name='sort-radiobutton'
				value='id'
				id='rnumber-sort'
			)
			label(for='rnumber-sort') Reverse number
			input(
				type='radio'
				class='asc'
				name='sort-radiobutton'
				value='value'
				id='alphabet-sort'
			)
			label(for='alphabet-sort') Alphabet
			input(
				type='radio'
				class='desc'
				name='sort-radiobutton'
				value='value'
				id='ralphabet-sort'
			)
			label(for='ralphabet-sort') Reverse alphabet
		center
			ul(
				id='list-item'
			)
				each elem in rows
					li
						a(class='id') #{elem.ID}
						a(class='value') #{elem.value}
						input(
							type='button'
							class='delete'
							id='dbutton'
							value='X'
						)
						input(
							type='button'
							class='edit'
							id='editbutton'
							value='Edit'
						)
						input(
							type='button'
							class='ok'
							id='okbutton'
							value='Ok'
						)
						input(
							type='button'
							class='cancel'
							id='cancelbutton'
							value='Cancel'
						)
		script(src='/javascripts/script.js')
		script(src='/javascripts/bootstrap.min.js')
				
		
